.button-menu {
  display: none;
  cursor: pointer;
  
  &__line {
    // display: flex;
    width: 22px;
    
    margin-bottom: 5px;
    // position: relative;
    // background: #ffffff;
    border-bottom: 3px solid #151515;
    // z-index: 1;
  }
}

@media all and (max-width: 640px) {
  .button-menu {
    @include flex($justify: center);
    flex-direction: column;
    border: none;
    padding: 0;
  }
}
