.fix {
  position: absolute;
  top: calc(24vw + 45px);
  right: 0;
  bottom: 5.5vw;
  max-width: 810px;
  max-height: 430px;
  width: 56vw;
  height: 30vw;

  &__image {
    position: sticky;
    top: 74px;
    max-width: 340px;
    width: calc(23.6vw);
    padding: 20px 50px;
    object-fit: cover;
    border-radius: 20px;
    background-color: $backgroundColor;
    filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.2));
  }
}

@media all and (max-width: 600px) {
  .fix {
    top: 385px;
    width: calc(100% - 18px);
    height: 57vw;

    &__image {
      min-width: 181px;
      padding: 11px 27px;
    }
  }
}