.fix {
  position: absolute;
  z-index: 5;
  right: 0;
  top: 0;
  height: calc(100% - 79px);
  
  // @include wh($w: 440px, $h: 300px);
  &__container {
    @include wh(810px, 347px);

    &:last-of-type {
      height: 79px;
      position: absolute;
      bottom: 0;
    }
  }
  

  

  &__image {
    position: sticky;
    top: 74px;
    @include wh($w: 340px, $h: 260px);
    padding: 20px 50px;
    object-fit: cover;

    

    border-radius: 20px;
    background-color: $backgroundColor;
    filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.44));
  }
}