.form {
  &__email {
    @include wh(360px, 50px);
    padding: 0;
    opacity: .5;
    box-sizing: border-box;
    border-radius: 4px;
    @include flex();
    
    &_theme {
      &_light {
        border: 1px solid $formColor;
      }

      &_dark {
        border: 1px solid $formColorDark;
      }
    }
  }

  &__item {
    display: block;
    cursor: pointer;
    border: 0;
    @include wh(100%, 100%);
    box-sizing: border-box;
    background-color: transparent;
    font-weight: 500;
    font-size: 13px;
    line-height: 215%;
    padding: 0;
    padding-left: 20px;

    &_theme {
      &_light {
        color: $textColor;
      }

      &_dark {
        color: $textColorDark;
      }
    }
  }

  &__item::placeholder {
    font-weight: 500;
    font-size: 13px;
    line-height: 215%;
    color: $discriptionTextColor;
    opacity: 0.7;
  }

  &__item::placeholder:hover {
    color: $textColor;
    opacity: 1;
  }

  &__item::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 13px;
    line-height: 215%;
    color: $discriptionTextColor;
    opacity: 0.7;
  }

  &__item::-moz-placeholder {
    font-weight: 500;
    font-size: 13px;
    line-height: 215%;
    color: $discriptionTextColor;
    opacity: 0.7;
  }

  &__item::-ms-input-placeholder {
    font-weight: 500;
    font-size: 13px;
    line-height: 215%;
    color: $discriptionTextColor;
    opacity: 0.7;
  }

  &__item:hover {
    color: $textColor;
    opacity: 1;
  }

  &__item:focus {
    outline: none;
  }

  &__button {
    display: none;
    border: none;
    padding-right: 22px;
    font-weight: 500;
    font-size: 13px;
    line-height: 215%;
    cursor: pointer;

    &_active {
      display: block;
    }

    &_theme {
      &_light {
        color: $textColor;
      }

      &_dark {
        color: $textColorDark;
      }
    }
  }

  
}