.header {
  min-height: 74px;
  @include flex();
  max-width: 1440px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: inherit;
  
  &__nav {
    margin-right: 120px;
  }

  
}

@media all and (max-width: 640px) {
  .header {
    &__nav {
      display: none;
    }

    &__button {
      margin-right: 30px;
    }
  }
}