.header {
  min-height: 74px;
  @include flex();
  max-width: 1440px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $backgroundColor;
  
  
  &__nav {
    margin-right: 120px;
  }

  &__links {
    @include flex();
    gap: 34px;
    list-style-type: none;
    @include mp();
    
  }

  &__link {
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    line-height: 129%;
    font-weight: 500;
  }
}