.line {
  display: none;
}

@media all and (max-width: 740px) {
  .line {
    display: block;
    @include wh($w: 100%, $h: 20px);
    min-height: 20px;
    
    border-top: 1px $lineMobileColor solid;
    box-sizing: border-box;
    

  }
}