.nav {
  &__links {
    @include flex();
    list-style-type: none;
    @include mp();

    &_type {
      &_horizontal {
        gap: 34px;
      }

      &_vertical {
        flex-direction: column;
        gap: 32px;
        margin-top: 70px;
        margin-bottom: 308px;
      }
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    line-height: 129%;
    font-weight: 500;
  }
}

@media all and (max-width: 640px) {
  .nav {
    &__link {
      font-size: 18px;
      line-height: 100%;
    }
  }
}