.swiper {
  @include wh(100%, 802px);

  &__item {
    margin-bottom: 50px;
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(2, minmax(650px, 1fr));
    gap: 40px;
    max-width: 1300px;
    overflow: hidden;
    position: relative;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    margin-top: 30px;
    
  }

  &__icon {
    position: absolute;
    left: 0;
    bottom: 16px;
    background-image: url(../images/icon.svg);
    @include wh(100px, 40px);
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px 34px 12px 16px;
    box-sizing: border-box;
  }

  &__button-prev {
    left: 0;
    right: auto;
    position: absolute;
    bottom: 0;
    @include wh(50px, 50px);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
      
    &::after {
      content: '';
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50px;
    }
  
    &_theme {
      &_light::after {
        background-color: $swiperButtonColor;
        background-image: url(../images/swiper-button-prev.svg);
      }

      &_dark::after {
        background-color: $swiperButtonColorDark;
        background-image: url(../images/swiper-button-prev-dark.svg);
      }
    }
  }

  &__button-next {
    left: 70px;
    right: auto;
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &::after {
      content: '';
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50px;
    }

    &_theme {
      &_light::after {
        background-color: $swiperButtonColor;
        background-image: url(../images/swiper-button-next.svg);
      }

      &_dark::after {
        background-color: $swiperButtonColorDark;
        background-image: url(../images/swiper-button-next-dark.svg);
      }
    }
  }
}



