.training {
  @include flex($align: flex-start, $justify: space-between);
  gap: 80px;
  padding-top: 90px;
  padding-bottom: 120px;
  // max-width: 1320px;

  &__container {
    @include flex($align: flex-start, $justify: space-between);
    flex-direction: column;
    min-height: 520px;
    
  }

  &__links {
    @include flex();
    gap: 30px;
    list-style-type: none;
    @include mp();
  }

  &__link {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    line-height: 156%;
    font-weight: 600;
  }

  &__image {
    padding-top: 60px;
    background-size: cover;
    width: 580px;
  }


}